[Desktop Entry]
Comment=
Terminal=false
Name=brandenbourger
Exec=firefox 'https://brandenbourger.quickconnect.to/photos'
Type=Application
Icon=/usr/share/icons/hicolor/64x64/apps/synology_photos.png
