[Desktop Entry]
Comment=
Terminal=false
Name=brandenbourger
Exec=xdg-open 'https://brandenbourger.quickconnect.to/videos'
Type=Application
Icon=/usr/share/icons/hicolor/64x64/apps/synology_videos.png
